@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Metamorphous&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@import 'tailwindcss';
/* 
 @import './helper/bootstrap-reboot.css'; */
@import './gameboy.css';

:root {
	--spacing-base-define: 1rem;
	--page-width-define: 780px;
	--page-width-sm-define: 360px;
	--spacing-base: var(--spacing-base-define);
	--spacing-xs: calc(var(--spacing-base) * 0.25);
	--spacing-sm: calc(var(--spacing-base) * 0.5);
	--spacing-md: calc(var(--spacing-base) * 0.75);
	--spacing-lg: calc(var(--spacing-base) * 1.5);
	--spacing-xl: calc(var(--spacing-base) * 2);
	--spacing-clamp: clamp(var(--spacing-base), 2vw, var(--spacing-lg));
	--content-space: var(--spacing-base);
	--page-space: var(--content-space);
}

:root {
	--page-width: var(--page-width-define);
	--page-width-sm: var(--page-width-sm-define);
	--body-scroll-y: hidden;
	--main-scroll-y: hidden;
	--fs: 24px;
	--arena-width: var(--page-width-define);
	--gb-width: 800px;
	--gb-height: 600px;

	/* color */
	--gb-color-lightest: oklab(95.123% -0.03974 0.04275);
	--gb-color-light: oklab(74.97200000000001% -0.09043 0.08481);
	--gb-color-dark: rgb(52, 104, 86);
	--gb-color-dark-opacity: oklab(47.55% -0.06254 0.01228 / 0.275);
	--gb-color-darkest: oklab(19.921% -0.01672 -0.02133);
	--gb-color-dark-gray: oklab(44.952999999999996% 0 -0.00005);
	--gb-color-light-gray: oklab(62.675000000000004% 0 -0.00007);

	/* color */
	--gb-color-lightest: oklab(95.123% -0.03974 0.04275);
	--gb-color-light: oklab(74.97200000000001% -0.09043 0.08481);
	--gb-color-dark: oklab(47.55% -0.06254 0.01228);
	--gb-color-dark-opacity: oklab(47.55% -0.06254 0.01228 / 0.467);
	--gb-color-darkest: oklab(19.921% -0.01672 -0.02133);
	--gb-color-dark-gray: oklab(44.952999999999996% 0 -0.00005);
	--gb-color-light-gray: oklab(62.675000000000004% 0 -0.00007);
}

body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.img-grid {
	--min: 68px;
	--gap: 0.5rem;
	display: grid;
	grid-gap: var(--gap);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.img-grid figure {
	display: grid;
	place-content: center;
	aspect-ratio: 1/1;
	border: 1px dashed red;
}

svg.icon,
svg.nwp-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

svg.icon,
svg.nwp-icon {
	font-size: var(--fs, 24px);
}

svg.icon-lg {
	--fs: 32px;
}

svg.icon-xl {
	--fs: 48px;
}

svg.icon-sm {
	--fs: 20px;
}

svg.icon-xs {
	--fs: 16px;
}

.padded {
	padding: var(--spacing-clamp);
}

.padded-flat {
	padding: 0 clamp(1rem, 2vw, 2rem);
}

.padded-small {
	padding: calc(clamp(1rem, 2vw, 2rem) * 0.5) clamp(1rem, 2vw, 2rem);
}

.layout {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: min-content 1fr min-content;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'app-bar side-bar'
		'main side-bar'
		'foo-bar side-bar';
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.app-bar {
	grid-area: app-bar;
	background-color: var(--gb-color-dark-opacity);
}

.main {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	grid-template-areas: 'page aside';
	grid-area: main;
	overflow-x: hidden;
	overflow-y: auto;
}

.page {
	justify-self: center;
	grid-area: page;
	width: 92%;
	height: 100%;
}

.aside {
	grid-area: aside;
}

.foo-bar {
	grid-area: foo-bar;
	background-color: var(--gb-color-dark-opacity);
}

.side-bar {
	grid-area: side-bar;
}
